<div class="center hero-unit">
	<h1>Welcome to the EaBA</h1>

	<h2>
		Sign up as a
	</h2>

	<%= link_to "Client user", client_signup_path, 
		class: "btn btn-large btn-primary" %>
	<%= link_to "Restaurant user", restaurant_signup_path, 
		class: "btn btn-large btn-primary" %>
	</div>
